APP_NAME='Union Banking'
APP_NAME_FIRST='Union'
APP_NAME_SECOND='Banking'
APP_VERSION='সংস্করণ ১.০'
APP_SHORT_TAG='কোর ব্যাংকিং ও ক্রেডিট সলিউশন'
APP_LONG_TAG='আধুনিক সমবায় প্রতিষ্ঠানগুলোর জন্য ডিজাইন করা স্মার্ট কোর ব্যাংকিং ও ক্রেডিট সলিউশন'
APP_ENV=local
APP_KEY=base64:+pclCDAM2jUsHNlIezFXeQ5J9Ilu7yjV9fOpkYqA2Bo=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_TIMEZONE=UTC

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=union_banking
DB_USERNAME=union_banking_user
DB_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root

# SESSION
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# CACHE
CACHE_DRIVER=redis
CACHE_PREFIX=union_banking_cache

# QUEUE
QUEUE_CONNECTION=redis
QUEUE_FAILED_DRIVER=database-uuids

# BROADCAST
BROADCAST_CONNECTION=log

# FILESYSTEM
FILESYSTEM_DISK=local

# REDIS
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=union_banking_database_

# MAIL
MAIL_MAILER=log
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@union_banking.local"
MAIL_FROM_NAME="${APP_NAME}"

# AWS (optional)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# VITE
VITE_APP_NAME="${APP_NAME}"
VITE_DEV_SERVER_URL=http://localhost:5173
VITE_LOGO_PATH='/logo.png'